*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  width: 1140px;
  grid-template-columns: 711px 399px;
  grid-template-areas: "main__content aside";
  column-gap: 30px;
  margin: 133px 30px;
}

.content__details {
  display: grid;
  grid-area: aside;
  max-width: 399px;
  gap: 22px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow:  auto ;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 28px;
  overflow:  auto ;
}

.content__list-item {
  text-decoration: none;
  padding: 0 2px 0 2px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card {
  display: flex;
  justify-content: flex-end;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  max-width: 196px;
  flex-grow: 1;
  overflow: auto;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__video-card-title {
  font-family: "Oswald", "Mriya Grotesk", "Arial";
  text-transform: uppercase;
  font-size: 30px;
  overflow: hidden scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", "Fira Sans", "Arial";
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 400;
  line-clamp: 1;
  letter-spacing: 0%;
  overflow: hidden;
}

.result {
  grid-area: main__content;
  width: 711px;
  align-self: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 16px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  border: 0;
  padding-bottom: 5px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}

.search-form__textfield[type="text"] {
  width: 225px;
  background-color: transparent;
  color: white;
  font-family: "Fira Sans Condensed", "Fira Sans", "Arial";
  font-size: 18px;
  font-weight: 400;
  border-top: 1px solid #fff;
  border-bottom:1px solid #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  appearance: none;
}

.search-form__textfield[type="text"]:focus {
  outline: 0;
}

.search-form__textfield[type="text"]:active {
  border: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  border: 1px solid #fff;
  height: 19px;
  width: 19px;
  margin-right: 5px;
  align-self: center;
  justify-content: center;

}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  align-self: center;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", "Fira Sans", "Arial";
  font-weight: 400;
  text-decoration: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.title {
  width: 259px;
  font-family: "Oswald", "Mriya Grotesk", "Arial";
  line-height: 94%;
  text-transform: uppercase;
  font-size: 75px;
}

.button {
  min-width: 194px;
  min-height: 34px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-family: "Fira Sans Condensed", "Fira Sans", "Arial";
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
}

.button.more-button {
  width: 390px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
